# OS
.DS_Store

# Zsh
.zcompdump
.zsh_*
.zshrc.*

# Secrets
*.jks
*.key
*.p12
*.pem
*.pfx
.env*
.npmrc
.pypirc
credentials.json
id_ed25519
id_rsa
keyfile.json
token.json

# Artifacts
*.bak
*.log
*.swp
*.tmp

# Claude
dot_claude/*
!dot_claude/settings.json
!dot_claude/settings.local.example.json

# Lazyvim
lazy-lock.json

# Mise
.mise.local.toml

# Templates
!*.local.example
