# Shared
# Formulae
brew "chezmoi"
brew "eza"
brew "gh"
brew "gmp"
brew "lazygit"
brew "mise"
brew "ni"
brew "openssl"
brew "starship"
brew "unison"
brew "watchman"
brew "wget"
brew "zoxide"

## Casks
cask "font-fira-code-nerd-font"
cask "ghostty"
cask "raycast"
cask "spotify"
cask "zed"
cask "zen"

## Personal
{{- if eq .setup_type "personal" }}

## Casks
cask "proton-drive"
cask "proton-mail"
cask "protonvpn"
cask "zwift"

{{- end }}

# Work
{{- if eq .setup_type "work" }}

## Taps
tap "docker/tap", trusted: { casks: ["sbx", "sbx@nightly"] }
tap "mutagen-io/mutagen", trusted: { formulae: ["mutagen", "mutagen-beta", "mutagen-edge"] }

## Formulae
brew "azure-cli"
brew "docker-compose"
brew "herdr"
brew "hunk"
brew "mkcert"
brew "mutagen-io/mutagen/mutagen"
brew "nss"
brew "playwright-cli"
brew "python-setuptools"
brew "yarn"

## Casks
cask "claude-code"
cask "docker/tap/sbx"
cask "figma"
cask "firefox"
cask "google-chrome"
cask "microsoft-edge"
cask "mockoon"
cask "obsidian"
cask "orbstack"
cask "postman"
cask "sequel-ace"

{{- end }}
