# Shared
## Formulae
brew "chezmoi"
brew "eza"
brew "fd"
brew "gh"
brew "gmp"
brew "lazygit"
brew "mise"
brew "neovim"
brew "ni"
brew "openssl"
brew "ripgrep"
brew "starship"
brew "tree-sitter-cli"
brew "unison"
brew "watchman"
brew "wget"
brew "zoxide"

## Casks
cask "firefox"
cask "font-fira-code-nerd-font"
cask "ghostty"
cask "raycast"
cask "spotify"
cask "zwift"

{{- if eq .profile "personal" }}
# Personal
## Casks
cask "proton-drive"
cask "proton-mail"
cask "protonvpn"
{{- end }}

{{- if eq .profile "work" }}
# Work
## Taps
tap "mutagen-io/mutagen", trusted: { formulae: ["mutagen", "mutagen-beta", "mutagen-edge"] }

## Formulae
brew "docker-compose"
brew "herdr"
brew "hunk"
brew "mkcert"
brew "mutagen-io/mutagen/mutagen"
brew "nss"
brew "playwright-cli"
brew "python-setuptools"
brew "yarn"

## Casks
cask "azure-cli"
cask "claude-code@latest"
cask "figma"
cask "google-chrome"
cask "microsoft-edge"
cask "mockoon"
cask "obsidian"
cask "orbstack"
cask "postman"
cask "sequel-ace"
{{- end }}
