{
  "disable_ai": true,
  "auto_indent_on_paste": true,
  "base_keymap": "VSCode",
  "buffer_font_family": "FiraCode Nerd Font",
  "buffer_font_size": 14.0,
  "buffer_line_height": "comfortable",
  "cli_default_open_behavior": "new_window",
  "colorize_brackets": true,
  "current_line_highlight": "all",
  "cursor_blink": false,
  "icon_theme": "Catppuccin Mocha",
  "linked_edits": true,
  "show_edit_predictions": true,
  "tab_size": 2,
  "telemetry": {
    "diagnostics": false,
    "metrics": false,
  },
  "theme": {
    "dark": "Catppuccin Mocha",
    "light": "Catppuccin Latte",
    "mode": "system",
  },
  "ui_font_family": "FiraCode Nerd Font",
  "ui_font_size": 14.0,
  "vim_mode": false,
}
