{{- if eq .machine_type "work" }}
alias install:be="git pull && make install-backend && make build-frontend-dojo && make run-migrations && make install-assets"
alias install:fe="yarn install && yarn nx reset && yarn cache clean && yarn install && yarn build:dev --exclude @medicore/mc-app && yarn start"
{{- end }}
