{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  {{- with dig "mcp_url" "" . }}
  "allowedMcpServers": [{ "serverUrl": {{ . | quote }} }],
  {{- end }}
  "autoMemoryEnabled": {{ .base.autoMemoryEnabled }},
  "effortLevel": {{ .base.effortLevel | quote }},
  "env": {{ .base.env | toPrettyJson | indent 2 | trim }},
  "outputStyle": {{ .base.outputStyle | quote }},
  "permissions": {
    "allow": {{ .host.permissions.allow | toPrettyJson | indent 4 | trim }},
    "ask": {{ .host.permissions.ask | toPrettyJson | indent 4 | trim }},
    "defaultMode": {{ .host.permissions.defaultMode | quote }},
    "deny": {{ concat .base.permissions.deny .host.permissions.deny | toPrettyJson | indent 4 | trim }}
  },
  "sandbox": {{ .host.sandbox | toPrettyJson | indent 2 | trim }},
  "statusLine": {{ .base.statusLine | toPrettyJson | indent 2 | trim }},
  "tui": {{ .base.tui | quote }}
}
