"**/.env*": "deny",
"**/.npmrc": "deny",
"**/*.key": "deny",
"**/*.pem": "deny",
"**/secrets/**": "deny",
"~/.azure/**": "deny",
"~/.bash_profile": "deny",
"~/.bashrc": "deny",
"~/.docker/**": "deny",
"~/.profile": "deny",
"~/.ssh/**": "deny",
"~/.zprofile": "deny",
"~/.zshrc": "deny"